
.banner {
  min-width: 400px;
  padding: 30px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px #23B4C4, 0 0 20px #23B4C4, 0 0 30px #23B4C4;
  }

  .h1 {
    font-weight: bold;
    font-size: 60px;
    font-family: 'Lilita One', sans-serif;
    Color: #23B4C4; /*Azul florecente*/
    text-align: center;
  }

  .p {
    /*max-width: 300px; */
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Crimson Text', serif;
    Color: #FF9999; /*rosa pastel*/
    font-weight: bold;
    text-align: center;
  }
  