@import "https://www.tb-nerdfonts.tb-com/assets/css/webfont.tb-css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E1Ecc;
}

.cien {
    width: 100vw;
}

.font-family-karla {
    font-family: karla;
}

.bg-sidebar {
    background: #3d68ff;
}

.cta-btn {
    color: #3d68ff;
}

.upgrade-btn {
    background: #1947ee;
}

.upgrade-btn:hover {
    background: #0038fd;
}

.active-nav-link {
    background: #1947ee;
}

.nav-item:hover {
    background: #1947ee;
}

.account-link:hover {
    background: #3d68ff;
}

::-webkit-scrollbar {
    display: none;
}

.rodar {
    animation: rotate 10s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .agrandar {
    transform: scale(1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .agrandar:hover {
    transform: scale(1.1);
  }
  @keyframes explosion {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  .explosion {
    animation: explosion 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform-origin: center center;
    color:#f00
  }
  .stroke {  
    text-shadow: 1px 1px 2px black;
 }
 .clase{
  outline: none;
  font-weight: 500;
  font-family: sans-serif;
  height: 100%;
  background-color: white;
  color: #000;
 }